@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);





#header1-1 H1 {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
}
#header1-1 P {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}
#header1-1 B {
  font-size: 18px;
}
#msg-box3-7 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffeaea;
}
#msg-box3-7 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-7 .mbr-article {
  color: #ffeaea;
}
#msg-box3-4 .mbr-header .mbr-header__text {
  text-align: center;
  color: #92c8e9;
}
#msg-box3-4 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4 .mbr-article P {
  color: #92c8e9;
}
#content5-9 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-article {
  color: #fff;
}
#form1-e .mbr-header__text {
  color: #ffeaea;
}
#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#ext_menu-3 .mbr-navbar__section {
  background: #2969b0;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3 .mbr-brand__name a {
  font-family: 'Lato', sans-serif;
}
#ext_menu-3 .mbr-navbar__items a {
  font-size: 9px;
}
#content5-f .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffeaea;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
#content5-f .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-f .mbr-article {
  color: #fff;
}
#content5-f .mbr-article P {
  color: #ffeaea;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
